@font-face {
    font-family: "Cinzel Decorativo";
    src: url("assets/fuentes/CinzelDecorative-Regular.ttf");
}

/* Estilos generales */
body {
    background-color: #dbb991;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #f0a94d;
    color: #fff;
    padding: 20px 0;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); 
}

.logo {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    justify-content: center;
}

.logo_name {
    font-family: "Cinzel Decorativo";
    font-size: 50px;
    color: #6b4d20;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    text-shadow: 2px 2px 4px #fd9801;
    margin: 0 auto;
}

/* Estilos para el menú */
.div_menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 ;
    
}
.menu {
    display: flex;
    justify-content: center;
    background-color:  darkgoldenrod;
    color: white;
    flex-wrap: wrap;
    padding: 5px ;
    font-size:28px;
}

.menu_list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: "Cinzel Decorativo";
    margin: 0;
}

.menu_list :hover {
    background-color: #5f3505;
    color: rgb(221, 122, 55);
    border-radius: 8px;
}

.historia {
    font-family: "Cinzel Decorativo";
    margin: 10px auto;
    text-shadow: 2px 2px 4px #fd9801;
    font-size: 20px;
}

.m {
    color: #6b4d20;
    font-family: "Cinzel Decorativo";
    margin: 0 auto;
}
.m1 {
    background-color: #5f3505;
    color: rgb(221, 122, 55);
    border-radius: 8px;
    
}

a {
    color: #6b4d20;
    text-decoration: none;
    margin: 0 auto;
}
.menu_list a {
    text-decoration: none;
    color: #e64b1c;
}
/*estilo de la sección de contacto*/
.redes {
    width: 50px;
    margin: 20px;
}

.al {
    color: #6b4d20;
    font-family: "Cinzel Decorativo";
    text-align: center;
    margin: 10px auto;
}

.div_dirección {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.dirección {
    display: flex;
    flex-direction: column;
    flex: 100%;
    flex-wrap: wrap;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .menu {
        flex-direction: row;
        align-items: center;
        font-size: 26px;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 ;
        background-color: darkgoldenrod;
    }

    .div_menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 ;
    }

    .menu_list {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
        margin: 0 ;
    }

    .menu_list, .li {
        flex: 1 1 auto;
        width: auto;
        justify-content: center;
        padding: 1px 0;
        margin: 0 ;
    }

    .menu_list a {
        font-size: 20px;
        text-align: center;
        margin: 0 auto;
    }

    .logo {
        width: 50px;
        height: 50px;
        align-self: center;
        margin: 0 auto;
    }

    .logo_name {
        text-align: center;
        margin: 0 auto;
    }

    .div_direccion {
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
    }

    h3 {
        font-size: 30px;
    }
}

@media (max-width: 600px) {
    .menu {
        font-size: 16px;
        justify-content: center;
        margin: 0 auto;
        background-color: darkgoldenrod;
    }

    .menu_list {
        display: flex;
        flex-direction: row;
        gap: 3px;
        margin: 0 ;
    }

    .menu_list, .li {
        flex: auto;
        width: auto;
        justify-content: center;
        padding: 1px 0;
        margin: 0 ;
    }

    .menu_list a {
        font-size: 16px;
        margin: 0 ;
    }

    .logo {
        width: 50px;
        height: 50px;
        margin: 0 auto;
    }

    .logo_name {
        font-size: 40px;
        margin: 0 auto;
    }

    .div_direccion {
        gap: 5px;
        margin: 0 auto;
    }
}

@media(max-width: 400px){
    .menu_list, .li {
        flex: auto;
        width: auto;
        justify-content: center;
        padding: 1px 0;
        margin: 0 ;
    }
    .menu_list a {
        font-size: 12px;
        margin: 0 ;
    }
}

@media (max-width: 300px) {
    .menu_list, .li {
        flex: auto;
        width: auto;
        justify-content: center;
        padding: 1px 0;
        margin: 0 ;
    }
    .menu_list a {
        font-size: 10px;
        margin: 0 ;
    }
}
