@font-face {
    font-family: "Cinzel Decorativo";
    src: url("../fuentes/CinzelDecorative-Regular.ttf");
}

.sección_presupuesto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
}

/* Estilos del formulario */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border: 1px solid #6b4d20;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff7e6;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

form input, form textarea, form select {
    width: 90%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #6b4d20;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

form input:focus, form textarea:focus, form select:focus {
    border-color: #f0a94d;
    outline: none;
    box-shadow: 0 0 5px rgba(240, 169, 77, 0.5);
}

label {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #6b4d20;
    margin: 10px;
    text-align: left;
    width: 100%;
}

.div_privacidad {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 0 auto;
}

.div_privacidad input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
}

form button {
    margin: 20px 20px 0 20px;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background-color: #f0a94d;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #dbb991;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    form {
        width: 90%;
        padding: 1.5rem;
    }

    p {
        font-size: 16px;
        width: 90%;
        text-align: center;
        margin: 10px auto;
    }
}

@media (max-width: 600px) {
    form {
        width: 70%;
        padding: 1.5rem;
    }

    .div_direccion {
        gap: 5px;
        margin: 0 auto;
    }
    h2{
        font-size: 14px;
    }
}

@media (max-width: 300px) {
    form {
        width: 70%;
        padding: 1rem;
    }
    h2{
        font-size: 14px;
        width: 90%;
        margin: 0;
    }
}
